services:
  - type: web
    name: task-manager
    runtime: docker
    repo: https://github.com/giovanebarcelos/Gerenciamento-de-Tarefas
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    plan: free
    region: oregon
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: SERVER_PORT
        value: 8080
    healthCheckPath: /actuator/health
    autoDeploy: true
